.content {
  grid-area: c;
  background-image: url("https://miridei.com/files/img/c/idei-dosuga/kakoi-film-posmotret/man_in_space.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}